/**********************
* Checkboxes & Radios *
**********************/

label {
    cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    cursor: pointer;
    height: 14px;
    margin: 0;
    width: 14px;
    
    &::before {
        content: ' ';
        background: url("/assets/img/form.svg");
        background-size: 46px 28px;
        display: block;
        height: 14px;
        margin-right: -14px;
        position: relative;
        width: 14px;
        z-index: 1;
    }
}

html.no-svg input[type="checkbox"] + .checkStyle,
html.no-svg input[type="radio"] + .radioStyle {
    background: url("/assets/img/form.png");
}

input[type="checkbox"] {
    &::before {
        background-position: 0 0;
    }
    
    &:checked::before {
        background-position: -14px 0;
    }
}

input[type="radio"] {
    &::before {
        background-position: 0 -14px;
    }
    
    &:checked::before {
        background-position: -14px -14px;
    }
}