/*********
* Footer *
*********/

.page-container {
    position: relative;
    min-height: 100%;
    width: 100%;
    box-shadow: 0px 4px 15px #181818;
    background-color: #FFF;
}

footer {
    background: #333;
    color: #FFF;
    padding: 12px 0;
    position: relative;
    z-index: -1;
    font-size: 12px;

    a {
        color: #FFF;
    }

    h4 {
        margin: 0;
        font-size: 12px;
        font-weight: 600;
    }

    hr {
        clear: both;
        margin: 12px 0;
    }

    .footer-info {
        background: url(/assets/img/footer-logo.png) no-repeat;
        padding-left: 64px;
    }

    .footer-clear {
        clear: both;
    }

    @media #{$small-only} {
        ul {
            display: none;
        }
    }

    @media #{$large-up} {
        hr {
            display: none;
        }

        .footer-clear {
            display: none;
        }
    }
}
