Source: switchboard-gnome-control-center-override
Section: x11
Priority: extra
Maintainer: Cody Garver <cody@elementary.io>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: switchboard-gnome-control-center-override
Architecture: all
Depends: switchboard, xdg-utils, ${misc:Depends}
Replaces: gnome-control-center
Suggests: switchboard-gnome-control-center
Enhances: switchboard-gnome-control-center
Description: Redirect GNOME Control Center calls to Switchboard
 This package redirects calls to gnome-control-center binary to switchboard.
